<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NZ CITIES TOP TRUMP EDITION</title>
    <link rel='stylesheet' href='main.css'>
  </head>
  <body>
    {{{body}}}
  </body>
</html>